.App {
  overflow: hidden;
}
.navbar{
  display: block;
}
.mainOfMain{
  display: block;
}

.app_body{
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.welcomePage{
  margin-top: 45px;
}
.welcomePage>h1{
  font-size: 35px;
  padding-left: 10px;
} 
.welcomePage>h4{
  font: optional; 
  font-size: 20px;
  font-weight: 400;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 10px;
}
.welcomePage>img{
  overflow: hidden;
  object-fit: cover;
}


